<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <nav>
    <a href='/'>Home</a>
    <br>
    <a href='/second'>Second Page</a>
    <br>
    <a href='/third'>Third Page</a>
  </nav>
  {{!-- every page will render here --}}
  {{{ body }}} {{!-- only this time we use a triple curly brace --}}
  <footer>
    Made by WiFi @ Ironhack
  </footer>
</body>
</html>